<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Movie DB App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>605656A72B35C48B00FA1FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605656BD2B35C48F00FA1FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605656C72B35C48F00FA1FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
